h1 {
    font-size: 50px;
    margin-bottom: 3px;
}
.im {
    height: 250px;
    width: 100%;
}
aside {
    position: absolute;
    right: 100px;
    top: 80px;    
}
.n {
    margin-right: 30px;
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    color: floralwhite;
    background-color: blue;
    box-shadow: 3px 3px 5px #000000;
}
#a {
    background-color: green;
}
#logo {
    float: left;
    height: 150px;
    margin-bottom: 500px;
    margin-top: 50px;
}
div h2 {
    border-style: solid;
    margin-top: 0;
    text-align: center;
}
section {
    margin-left: 200px;
}